<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/SharedComponents/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorWebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="_content/SharedComponents/Demo/JSInteropSamples/JSToReferenceNET.razor.js"></script>
    <script src="_content/SharedComponents/Demo/JSInteropSamples/JSToStaticNET.razor.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
